<h1>RailsbBridge</h1>
<h3>初探rails</h3>
<hr>
<h4>目標</h4>
<p>為了教會你 Ruby on Rails，我們會使用「真實世界」的範例。你現在打算要做一個投票系統，讓你和你的朋友來玩。 你打算要做一個基本可用的程式，讓使用者可以：</p>
<ul>檢視主題，用投票數來排序</ul>
<ul>對主題投票</ul>
<ul>開新主題、編輯主題、刪除主題</ul>

<%= link_to 'Back', topics_path %>
